.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: 'DM Sans', sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

.title-section-copy {
  margin-bottom: 20px;
  padding-top: 20px;
}

.elements-container {
  color: #fff;
}

.elediv-page-title {
  margin-bottom: 40px;
}

.ele-title {
  font-size: 30px;
  line-height: 120%;
  font-weight: 700;
}

.section-title {
  margin-bottom: 20px;
}

.pages-section {
  margin-bottom: 20px;
  padding-top: 20px;
}

.ele-page-description {
  color: #5f5f5f;
}

.ele-page-title {
  color: #000;
  font-size: 20px;
}

.ele-page-inside {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.elements-button {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-right: 25px;
  padding-left: 25px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  border-radius: 20px;
  background-color: #593b83;
}

.elements-button:hover {
  background-color: #06070a;
}

.elements-button.w--current {
  background-color: #e4e5f1;
}

.section-title-text {
  font-size: 25px;
  line-height: 120%;
  font-weight: 500;
}

.ele-card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
  padding: 15px 25px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
}

.div-block-14 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.text-block {
  padding: 8px 12px;
  background-color: #000;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
}

.navigation-item {
  color: #fff;
  font-size: 16px;
}

.logo-link {
  z-index: 1;
}

.logo-link:hover {
  opacity: 0.8;
}

.logo-link:active {
  opacity: 0.7;
}

.menu {
  position: relative;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.navigation {
  background-color: transparent;
}

.navigation-wrap {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 20px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.sm-icon-link {
  margin-right: 8px;
  margin-left: 8px;
}

.logo-image {
  display: block;
}

.header-social-media {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.boonjie-communiy-btn {
  margin-right: 12px;
  padding: 2px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#a66ecd), to(#df7da3));
  background-image: linear-gradient(180deg, #a66ecd, #df7da3);
  text-decoration: none;
}

.navigation-items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.boonji-body {
  background-color: #000;
  background-image: url('../images/bg-1.jpg');
  background-position: 50% 0%;
  background-size: auto;
  background-attachment: fixed;
  font-family: 'DM Sans', sans-serif;
}

.boonjie-hero {
  grid-column-gap: 150px;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.boonjie-h1 {
  display: none;
  margin-top: 40px;
  margin-bottom: 53px;
  font-family: 'Droid Sans', sans-serif;
  color: #fff;
  font-size: 100px;
  line-height: 50px;
}

.boonjie-p {
  margin-top: 0px;
  color: #fff;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: 1px;
  text-indent: 0px;
  white-space: normal;
}

.boonjie-p.fair {
  margin-bottom: 20px;
}

.boonjie-p.hero {
  margin-bottom: 20px;
}

.boonjie-subtitle {
  margin-bottom: 20px;
  color: #df7da3;
  font-size: 12px;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.boonjie-subtitle.title {
  text-align: center;
}

.boonjie-container {
  display: block;
  max-width: 1170px;
  margin-right: auto;
  margin-left: auto;
}

.boonji-section {
  margin: 130px 30px;
}

.hero-image {
  border-radius: 12px;
}

.boonji-note {
  color: #c075bb;
}

.boonjie-purchase-fast-mint {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.boonjie-purchase-mint-btn {
  max-width: 100%;
  margin-bottom: 8px;
  padding: 16px;
  border-style: solid;
  border-width: 1px;
  border-color: #593b83;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  text-align: center;
  letter-spacing: 1px;
  text-decoration: none;
}

.boonjie-h3 {
  margin-top: 10px;
  color: #fff;
  font-size: 32px;
}

.boonjie-purchase-custom-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex  !important;
  padding: 21px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #593b83;
  color: #fff;
  font-size: 16px;
  text-decoration: none;
}

.boonjie-purchase-custom-btn:hover {
  background-color: #784fb1;
}

.boonjie-note {
  color: #fff;
  letter-spacing: 1px;
}

.boonjie-purchase-card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  border-radius: 12px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#c075bb), to(#a66ecd));
  background-image: linear-gradient(180deg, #c075bb, #a66ecd);
}

.boonjie-h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #fff;
  font-size: 32px;
  text-align: left;
}

.boonjie-stroke {
  height: 1px;
  margin-top: 24px;
  margin-bottom: 24px;
  background-color: rgba(0, 0, 0, 0.1);
}

.coming-soon {
  margin-top: 8px;
  margin-bottom: 16px;
  padding-bottom: 0px;
  color: #fff;
  font-size: 24px;
  line-height: 18px;
  font-weight: 700;
}

.boonji-space-program {
  grid-column-gap: 90px;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.spaceprogram-img {
  border-radius: 12px;
}

.sapceprogram-content {
  padding: 32px;
  border-radius: 12px;
  background-color: #593b83;
}

.boonjie-space {
  height: 24px;
}

.boonjie-psace-club-item {
  margin-top: 12px;
  text-align: center;
}

.boonjie-space-club-benefits {
  margin-bottom: 32px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.boonjie-h4 {
  color: #fff;
}

.boonjie-p-2 {
  margin-top: 0px;
  margin-bottom: 15px;
  color: #fff;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: 1px;
  text-indent: 0px;
  white-space: normal;
}

.boonjie-p-2.space-club-p {
  margin-top: 12px;
  margin-bottom: 40px;
  padding-right: 142px;
  padding-left: 142px;
  text-align: center;
}

.boonjie-p-2.mint-time {
  margin-bottom: 25px;
}

.boonjie-soace-club {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.boonjie-h2-2 {
  color: #fff;
  font-size: 40px;
  text-align: left;
}

.boonjie-h2-2.text-center {
  text-align: center;
}

.boonjie-roadmap-grid {
  margin-top: 56px;
  margin-bottom: 56px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-columns: 0.5fr 0.25fr 1fr;
  grid-template-columns: 0.5fr 0.25fr 1fr;
  -ms-grid-rows: auto auto auto auto auto auto auto auto auto auto;
  grid-template-rows: auto auto auto auto auto auto auto auto auto auto;
}

.boonjie-roadmap-rocket {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 168px;
  max-height: 168px;
}

.boonjie-roadmap-info {
  color: #fff;
}

.roadmap-header {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 20px;
}

.roadmap-p {
  font-size: 16px;
  font-weight: 400;
}

.image {
  display: none;
}

.image-2 {
  display: none;
}

.image-3 {
  display: none;
}

.image-4 {
  display: none;
}

.image-5 {
  display: none;
}

.image-6 {
  display: none;
  margin-right: auto;
  margin-left: auto;
}

.image-7 {
  display: none;
}

.image-8 {
  display: none;
}

.image-9 {
  display: none;
}

.boonjie-coutdown {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.boonjie-count-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 16px;
  margin-bottom: 16px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
}

.count-number {
  font-size: 40px;
}

.count-label {
  margin-top: 12px;
  font-size: 18px;
}

.boonjie-tools-buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.boonjie-team-member {
  text-align: center;
}

.boonjie-team-name {
  margin-bottom: 0px;
  color: #fff;
  font-weight: 700;
}

.boonjie-team-text {
  color: #fff;
  font-size: 14px;
  line-height: 16px;
}

.boonjie-team-title {
  margin-bottom: 0px;
  color: #fff;
  font-weight: 700;
}

.boonjie-team-username {
  color: #fff;
  font-size: 14px;
  line-height: 24px;
}

.grid-team-member {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
}

.newsletter {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.webflow-logo-tiny {
  margin-top: 0px;
  margin-right: 8px;
  margin-left: 4px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.webflow-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 1;
  -webkit-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
  color: #fff;
  text-decoration: none;
}

.webflow-link:hover {
  opacity: 1;
}

.webflow-link:active {
  opacity: 0.8;
}

.paragraph-tiny {
  font-size: 12px;
  line-height: 20px;
}

.boonjie-logo-footer {
  margin-bottom: 32px;
}

.text-block-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  padding: 7px 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #593b83;
  color: #fff;
}

.footer-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 70px;
  padding-bottom: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-field-3 {
  margin-bottom: 0px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
  color: #fff;
}

.container.boonjie-verify-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-social-icon {
  margin-top: 48px;
  margin-bottom: 24px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.subscribe-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.boonji-verified {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  text-align: center;
}

.boonji-address-box {
  display: block;
  width: auto;
  margin-top: 0px;
  padding: 16px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border-style: none;
  border-width: 3px;
  border-color: #593b83;
  background-color: #fff;
  color: #000;
  font-size: 24px;
  text-align: center;
}

.verify-address-section {
  margin-top: 62px;
  margin-bottom: 62px;
}

.verify-address-bg {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 12px;
  padding: 4px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#593b83), to(#df7da3));
  background-image: linear-gradient(180deg, #593b83, #df7da3);
  text-decoration: none;
}

.paragraph {
  font-size: 16px;
}

.hero-bonjie-logo {
  margin-bottom: 18px;
}

.boonjie-copy-address-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 17px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  background-color: #593b83;
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.boonjie-copy-address-btn:hover {
  background-color: #784fb1;
}

.boonjie-purchase-card-2 {
  padding: 30px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#c075bb), to(#a66ecd));
  background-image: linear-gradient(180deg, #c075bb, #a66ecd);
}

.boonjie-h3-2 {
  color: #fff;
  font-size: 30px;
}

.boonjie-purchase-mint-btn-2 {
  padding: 16px;
  border-style: solid;
  border-width: 1px;
  border-color: #593b83;
  border-radius: 4px;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
}

.boonjie-purchase-mint-btn-2:hover {
  border-color: #784fb1;
  background-color: #784fb1;
}

.text-block-3 {
  font-weight: 700;
  letter-spacing: 1px;
}

.body {
  background-color: #000;
}

.form {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
}

.boonjie-input-mint {
  height: 50px;
  margin-right: 0px;
  margin-bottom: 0px;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border-radius: 5px;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
}

.boonji-form-btn {
  padding-right: 20px;
  padding-left: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: #593b83;
  border-radius: 5px;
  background-color: transparent;
  font-weight: 700;
}

.boonji-form-btn:hover {
  border-color: #784fb1;
  background-color: #784fb1;
}

.boonjie-toast-form {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
}

.boonjie-sold-count {
  color: #fff;
}

.boonjie-sold-count.right {
  margin-left: 5px;
  color: #fff;
}

.boonie-sold-label {
  font-weight: 400;
}

.form-icon {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 20px;
  height: 20px;
  margin-top: 6px;
  padding: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
}

.form-icon.left {
  left: 4%;
  top: 20%;
  right: auto;
  bottom: 20%;
}

.form-icon.right {
  left: auto;
  top: 20%;
  right: 4%;
  bottom: 20%;
}

.div-block-15 {
  position: relative;
  margin-right: 12px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.boonjie-toast-form-copy {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
}

.boonji-count {
  color: #291743;
  font-size: 20px;
  font-weight: 700;
}

.boonji-count.two {
  margin-left: 5px;
  color: #291743;
}

.boonjis-minted {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.nav-eth {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  margin-left: 20px;
  padding: 4px 8px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  border-radius: 5px;
  background-color: #df7da3;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
  color: #06070a;
  text-decoration: none;
}

.nav-eth:hover {
  border-radius: 5px;
  background-color: #f2f4f6;
}

.eth-id-div {
  margin-top: 2px;
  color: #a7a9c0;
  font-size: 12px;
  letter-spacing: 3px;
}

.eth-amount-text {
  line-height: 100%;
}

.dropdown-toggle {
  padding: 0px;
}

.dropdown-list {
  background-color: transparent;
}

.dropdown-list.w--open {
  overflow: hidden;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0 5px 7px -2px rgba(0, 0, 0, 0.1);
}

.eth-id-text {
  color: #784fb1;
  font-size: 12px;
  line-height: 100%;
  text-align: left;
}

.dropdown-2 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.eth-amount-symbol {
  margin-left: 5px;
  line-height: 100%;
}

.eth-amount-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  line-height: 100%;
  letter-spacing: 1px;
}

.dropdown-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #fff;
}

.dropdown-link:hover {
  background-color: #ededed;
}

.div-block-16 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.p2-link {
  color: #fff;
}

.modal-bold {
  color: #784fb1;
  font-weight: 700;
}

.modal-signin-btn-icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 46px;
  height: 46px;
  margin-right: 15px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border-radius: 100%;
  background-color: #f8f8f8;
}

.modal-close-button-div {
  position: fixed;
  z-index: 1112;
  width: 100%;
  height: 100%;
}

.modal-close-x-div-terms {
  width: 35px;
  height: 35px;
  padding: 5px;
  border-radius: 5px;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
}

.modal-close-x-div-terms:hover {
  background-color: #fff;
}

.modal-wrapper-section-copy {
  position: fixed;
  z-index: 1111;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(6, 7, 10, 0.9);
}

.modal-header-title {
  margin-top: 0px;
  margin-bottom: 0px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  font-size: 28px;
  line-height: 36px;
  text-align: center;
}

.modal-header-descr {
  margin-bottom: 30px;
  line-height: 140%;
}

.top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.modal-link {
  margin-top: 20px;
  margin-bottom: 50px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  color: #06070a;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}

.modal-signin-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  padding: 23px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: #fff;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  -webkit-transition: border-color 200ms ease;
  transition: border-color 200ms ease;
  text-decoration: none;
}

.modal-signin-btn:hover {
  border-color: #c7c8cf;
  background-color: #ebe3f5;
}

.modal-signin-btn-text {
  color: #06070a;
  font-size: 16px;
  text-decoration: none;
}

.modal-box-div {
  position: relative;
  z-index: 2222;
  width: 700px;
  margin: auto;
  border-radius: 10px;
  background-color: #f2f4f6;
  background-image: url('../images/mini-boonji-modal.png'), url('../images/powered-by-authentic-transparent.svg');
  background-position: 3% 100%, 97% 98%;
  background-size: auto 80px, auto;
  background-repeat: no-repeat, no-repeat;
}

.close-x {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 20px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.image-11 {
  opacity: 0.33;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
}

.image-11:hover {
  opacity: 1;
}

.modal-signin-btn-seccion {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 40px;
  padding-bottom: 30px;
  padding-left: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.crew-image {
  overflow: hidden;
  border-radius: 370px;
}

.boonjie-team-username {
  text-decoration: none;
}

.boonjie-team-username:hover {
  color: #df7da3;
}

.div-block-17 {
  padding-top: 0px;
  padding-bottom: 5px;
}

.back-button.hide {
  display: none;
}

.red {
  color: #c11111;
}

.link-block {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  color: #848595;
  text-decoration: none;
}

.link-block:hover {
  color: #06070a;
}

.authentic-form-input-2 {
  height: 50px;
  margin-bottom: 0px;
  border-style: solid;
  border-width: 1px;
  border-color: #06070a;
  border-radius: 6px;
  background-color: #fff;
}

.form-single {
  max-width: 490px;
  min-width: 420px;
  margin-bottom: 20px;
}

.modal-form-button-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.form-cvc {
  width: 9%;
  padding-left: 10px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.form-group {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.authentic-confirm-btn-2 {
  border-radius: 6px;
  background-color: #06070a;
  font-family: 'DM Sans', sans-serif;
  letter-spacing: 1px;
}

.authentic-confirm-btn-2.register-btn {
  margin-top: 30px;
  padding-right: 30px;
  padding-left: 30px;
}

.authentic-confirm-btn-2.register-btn.algin-right {
  display: block;
  margin-top: 0px;
  text-align: left;
}

.form-exp {
  width: 50%;
  padding-right: 10px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.modal-divider-line {
  height: 1px;
  margin-top: 25px;
  margin-bottom: 25px;
  padding-bottom: 0px;
  background-color: #bdbec0;
}

.text-span-7 {
  color: #848595;
  font-weight: 400;
}

.form-email-modal {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.modal-clock {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 47px;
  margin-bottom: 47px;
  margin-left: 47px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.modal-wait-problem {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 20px 47px 47px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.boonjie-communiy-btn-twitter {
  margin-right: 12px;
  padding: 2px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#a66ecd), to(#df7da3));
  background-image: linear-gradient(180deg, #a66ecd, #df7da3);
  text-decoration: none;
}

.text-block-twitter {
  padding: 8px 12px 8px 45px;
  background-color: #000;
  background-image: url('../images/Vector-1_1Vector-1.png');
  background-position: 13px 50%;
  background-size: 20px;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
}

.top-last {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.modal-header-title-last-modal {
  width: 420px;
  margin-top: 0px;
  margin-bottom: 0px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  font-size: 35px;
  line-height: 36px;
  text-align: center;
}

.modal-wait-problem-last {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 140px;
  margin: 20px 47px 47px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.modal-signin-btn-seccion-last {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 40px;
  padding-bottom: 30px;
  padding-left: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.pending {
  color: #df7da3;
}

@media screen and (max-width: 991px) {
  .logo-link.w--current {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .menu {
    position: static;
    margin-left: 30px;
  }

  .navigation-wrap {
    background-color: #000;
  }

  .header-social-media {
    display: none;
  }

  .navigation-items {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #000;
  }

  .menu-button {
    padding: 0px;
    background-color: transparent;
    color: #fff;
  }

  .menu-button.w--open {
    background-color: transparent;
  }

  .menu-icon {
    display: block;
    background-color: transparent;
  }

  .boonjie-hero {
    grid-auto-flow: row;
    grid-column-gap: 32px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: minmax(auto, 1fr);
    grid-template-rows: minmax(auto, 1fr);
  }

  .boonji-space-program {
    grid-column-gap: 15px;
  }

  .boonjie-space-club-benefits {
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .boonjie-p-2.space-club-p {
    padding-right: 92px;
    padding-left: 92px;
  }

  .boonjie-roadmap-grid {
    -ms-grid-columns: 0.5fr 0.5fr 1fr;
    grid-template-columns: 0.5fr 0.5fr 1fr;
  }

  .grid-team-member {
    grid-row-gap: 48px;
  }

  .eth-id-div {
    margin-top: 4px;
    font-size: 10px;
    line-height: 100%;
  }

  .eth-amount-nav {
    font-size: 12px;
    font-weight: 700;
  }
}

@media screen and (max-width: 767px) {
  .title-section-copy {
    padding-right: 15px;
    padding-left: 15px;
  }

  .pages-section {
    padding-right: 15px;
    padding-left: 15px;
  }

  .logo-link {
    padding-left: 0px;
  }

  .menu-icon {
    background-color: transparent;
  }

  .boonjie-hero {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .boonjie-p {
    margin-bottom: 20px;
  }

  .boonji-space-program {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .boonjie-p-2.space-club-p {
    padding-right: 37px;
    padding-left: 37px;
  }

  .boonjie-roadmap-grid {
    -ms-grid-columns: 0.5fr 0.75fr 1fr;
    grid-template-columns: 0.5fr 0.75fr 1fr;
  }

  .container {
    text-align: center;
  }

  .boonji-address-box {
    font-size: 18px;
  }

  .eth-id-div {
    text-align: center;
  }

  .eth-amount-nav {
    text-align: center;
  }

  .modal-signin-btn-icon {
    margin-right: 10px;
  }

  .modal-close-x-div-terms {
    left: 420px;
    top: -332px;
    width: 30px;
    height: 30px;
  }

  .modal-header-descr {
    font-size: 14px;
  }

  .modal-signin-btn {
    padding: 20px;
  }

  .modal-box-div {
    width: auto;
    padding: 40px;
  }

  .modal-signin-btn-seccion {
    padding-right: 0px;
    padding-left: 0px;
  }

  .modal-signin-btn-seccion-last {
    padding-right: 0px;
    padding-left: 0px;
  }
}

@media screen and (max-width: 479px) {
  .ele-title {
    text-align: center;
  }

  .ele-page-inside {
    margin-bottom: 10px;
  }

  .ele-card {
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .menu {
    margin-left: 15px;
  }

  .boonjie-communiy-btn {
    display: block;
    margin-right: 6px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }

  .menu-button {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }

  .menu-button.w--open {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }

  .boonjie-hero-left {
    text-align: center;
  }

  .bonnjie-hero-art {
    margin-top: 40px;
  }

  .boonjie-p {
    text-align: center;
  }

  .boonji-section.hero-section {
    margin-top: 70px;
  }

  .boonjie-h2 {
    text-align: center;
  }

  .sapceprogram-content {
    padding: 24px;
  }

  .boonjie-space-club-benefits {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .boonjie-p-2.space-club-p {
    padding-right: 0px;
    padding-left: 0px;
  }

  .boonjie-h2-2 {
    text-align: center;
  }

  .boonjie-roadmap-grid {
    -ms-grid-columns: 0.25fr 0.75fr 0.75fr;
    grid-template-columns: 0.25fr 0.75fr 0.75fr;
  }

  .boonjie-roadmap-rocket {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .grid-team-member {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .text-field-3 {
    margin-bottom: 12px;
  }

  .subscribe-form {
    margin-right: 8px;
    margin-left: 8px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .boonji-verified {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }

  .boonji-address-box {
    overflow: auto;
    width: 285px;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    text-align: center;
    text-decoration: none;
    white-space: normal;
    -o-object-fit: fill;
    object-fit: fill;
  }

  .verify-address-bg {
    overflow: visible;
    text-align: center;
    white-space: normal;
  }

  .image-10 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }

  .boonjie-form {
    margin-bottom: 64px;
  }

  .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .boonjie-input-mint {
    height: 50px;
    margin-bottom: 12px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }

  .form-icon.right {
    top: 24%;
    margin-top: 0px;
  }

  .div-block-15 {
    margin-right: 0px;
  }

  .form-icon.left {
    top: 24%;
    margin-top: 0px;
  }

  .nav-eth {
    display: none;
    padding-bottom: 5px;
  }

  .eth-amount-text {
    font-weight: 700;
  }

  .eth-amount-symbol {
    font-weight: 700;
  }

  .eth-amount-nav {
    font-size: 11px;
  }

  .modal-close-x-div-terms {
    left: 232px;
    top: -348px;
  }

  .modal-signin-btn {
    padding: 10px 15px;
  }

  .modal-box-div {
    padding-right: 20px;
    padding-left: 20px;
  }

  .close-x {
    margin-right: 0px;
    margin-left: 0px;
  }

  .boonjie-communiy-btn-twitter {
    display: block;
    margin-right: 6px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
}

#w-node-_0ae30329-4fef-d669-4a8e-d5129650b3c4-d5fe8d3f {
  -ms-grid-column-align: center;
  justify-self: center;
  -webkit-align-self: end;
  -ms-flex-item-align: end;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-_0ae30329-4fef-d669-4a8e-d5129650b3c8-d5fe8d3f {
  -ms-grid-column-align: center;
  justify-self: center;
  -webkit-align-self: end;
  -ms-flex-item-align: end;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-_0ae30329-4fef-d669-4a8e-d5129650b3cc-d5fe8d3f {
  -ms-grid-column-align: center;
  justify-self: center;
  -webkit-align-self: end;
  -ms-flex-item-align: end;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-_0ae30329-4fef-d669-4a8e-d5129650b3d0-d5fe8d3f {
  -ms-grid-column-align: center;
  justify-self: center;
  -webkit-align-self: end;
  -ms-flex-item-align: end;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-_0ae30329-4fef-d669-4a8e-d5129650b3d4-d5fe8d3f {
  -ms-grid-column-align: center;
  justify-self: center;
  -webkit-align-self: end;
  -ms-flex-item-align: end;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-_72886b1d-298e-acbf-64f5-6afda72cca33-d5fe8d3f {
  -ms-grid-column-align: end;
  justify-self: end;
}

#w-node-aca27d46-f4a2-c72b-a6e8-2b77f5236b64-d5fe8d3f {
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_0af228b8-d2a2-3b13-4fbc-b12e008627ae-d5fe8d3f {
  -ms-grid-column-align: end;
  justify-self: end;
}

#w-node-_5c83af75-94e2-92c5-ca8f-1f40650beab7-d5fe8d3f {
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_6e71d24e-6762-9a1d-3520-4ffc67957cc9-d5fe8d3f {
  -ms-grid-column-align: end;
  justify-self: end;
}

#w-node-_09504be4-46f5-eee6-7991-f61b89c8157c-d5fe8d3f {
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-fc22deda-c777-4a16-4ad6-19e666e40e64-d5fe8d3f {
  -ms-grid-column-align: end;
  justify-self: end;
}

#w-node-c2aac32c-f854-1f2a-a11f-6a23ed0af8a1-d5fe8d3f {
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_20a0a4b7-3317-3dda-255f-859ae126e58d-d5fe8d3f {
  -ms-grid-column-align: end;
  justify-self: end;
}

#w-node-e2766745-5cdd-4451-3d2e-8cd132074c6b-d5fe8d3f {
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_16a9f906-2208-0dae-43f8-5112bfee70b9-d5fe8d3f {
  -ms-grid-column-align: end;
  justify-self: end;
}

#w-node-_301f7de1-8463-8b57-486a-e25fd41dea55-d5fe8d3f {
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_2c487d49-3170-2511-8df2-00536b27e28a-d5fe8d3f {
  -ms-grid-column-align: end;
  justify-self: end;
}

#w-node-d270cf06-35f3-f748-8e7a-ae06b5c60736-d5fe8d3f {
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_0730bbc9-51e9-a9f4-a0d0-095b3e33f715-d5fe8d3f {
  -ms-grid-column-align: end;
  justify-self: end;
}

#w-node-_0e17a89c-b85b-0258-2ae1-919417c5dc75-d5fe8d3f {
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-de5f667c-a216-1225-7d8a-9d6555b6b643-d5fe8d3f {
  -ms-grid-column-align: end;
  justify-self: end;
}

#w-node-_7c677d16-9c2b-ae4a-2999-44e4954eb8d3-d5fe8d3f {
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_15e1ab24-fb6a-d590-dc1f-3fbfe03ee4c9-d5fe8d3f {
  -ms-grid-column-align: end;
  justify-self: end;
}

#w-node-e0d76b62-7033-120d-c5fd-5f2d84a3fc9f-d5fe8d3f {
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-edc729cf-4f24-f1dd-aead-8e842971cfa6-d5fe8d3f {
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-edc729cf-4f24-f1dd-aead-8e842971cfb0-d5fe8d3f {
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-edc729cf-4f24-f1dd-aead-8e842971cfba-d5fe8d3f {
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-edc729cf-4f24-f1dd-aead-8e842971cfc4-d5fe8d3f {
  -ms-grid-column-align: center;
  justify-self: center;
}

@media screen and (max-width: 479px) {
  #w-node-_72886b1d-298e-acbf-64f5-6afda72cca33-d5fe8d3f {
    -webkit-align-self: start;
    -ms-flex-item-align: start;
    -ms-grid-row-align: start;
    align-self: start;
    -ms-grid-column-align: stretch;
    justify-self: stretch;
  }
}

